.container{
    height: 800px;
    vertical-align: auto;
    align-items: center;
    align-content: center;
}

.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    align-items: center;
    align-content: center;  
}

.subtitulo{
    text-align: center;
}
